<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lswr.demo.model.dao.CommentDao">
	
	<select id="getCommentsByBoardId" parameterType="long" resultType="com.lswr.demo.model.dto.Comment">
	    SELECT 
	        c.comment_id, c.board_id, c.content, c.posted_date, 
	        u.user_id, u.nickname, u.user_img,
	        ROUND(COALESCE(SUM(r.distance), 0), 2) AS userDist,
	        CONCAT(
	            FLOOR(SUM(TIMESTAMPDIFF(SECOND, r.startTime, r.endTime)) / SUM(r.distance) / 60), "'",
	            LPAD(MOD(SUM(TIMESTAMPDIFF(SECOND, r.startTime, r.endTime)) / SUM(r.distance), 60), 2, '0'), "''"
	        ) AS userPace
	    FROM Comment c
	    JOIN User u ON c.user_id = u.user_id
	    LEFT JOIN Record r ON r.user_id = u.user_id
	    WHERE c.board_id = #{boardId}
	    GROUP BY c.comment_id, u.user_id, u.user_img
	</select>
	
	<insert id="insertComment" parameterType="com.lswr.demo.model.dto.Comment">
	    INSERT INTO Comment (board_id, content, posted_date, user_id)
	    VALUES (#{boardId}, #{content}, NOW(), #{userId})
	</insert>
	
	<delete id="deleteComment" parameterType="com.lswr.demo.model.dto.Comment">
	    DELETE FROM Comment 
	    WHERE comment_id = #{commentId} AND user_id = #{userId}
	</delete>
	
		
</mapper>