<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lswr.demo.model.dao.UserDao">
	<!-- UserList 조회 -->
	<select id="selectAll" resultType="User">
		SELECT * 
		FROM user
	</select>
    <!-- User 삽입 메서드 -->
    <insert id="insertUser" parameterType="User">
        INSERT INTO USER (email, password, name, nickname, address
            <if test="isPrivate != null">
                , private
            </if>
        ) 
        VALUES (#{email}, #{password}, #{name}, #{nickname}, #{address}
            <if test="isPrivate != null">
                , #{isPrivate}
            </if>
        )
    </insert>
    <!-- email User 조회 -->
    <select id="selectUserByEmail" parameterType="String" resultType="User">
		SELECT * 
		FROM user
		WHERE email = #{email}
	</select>
	<!-- nickname User 조회 -->
	<select id="selectUserByNickname" parameterType="String" resultType="User">
		SELECT * 
		FROM user
		where nickname = #{nickname}
	</select>
	<!-- User 로그인 -->
	<select id="login" parameterType="LoginDto" resultType="User">
		SELECT * 
		FROM user
		where email = #{email} and password = #{password}
	</select>
    
</mapper>